:root{
--azul1: #211f8d;
--azul2: #16138d;
--azul3: #020057;

}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: border-box;
}

/*----utilities----*/
h1{
    color: white;
    font-size: 50px;
    font-style:italic;
    text-align: center;
}

h2{
    color: black;
    font-size: 40px;
    text-align: center;
}

h3{
    color: black;
    font-size: 28px;
    font-style:italic;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

p{
    color: black;
    font-style:italic;
    text-align: center;
}

li{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    
}

/*-----header---*/



.header{
    width: 100%;
    height: 100vh;
}

.headerContenedor{
    height: auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 10rem;
}


.navegation{
    background-color: var(--azul3);
    height: 4rem;
    display: flex;
    align-items: center;
}

.items{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.elementos{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.elementos li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementos li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementos li a:hover{
    background-color: red;
    font-size: 20px;
    transition: .5s;
}

.hero{
    background-image: url(../img/hero4.jpeg);
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.sombra{
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
    
}
/*mq para adaptar el hero en en pantallas con pixelajes altos*/
@media (min-width: 1090px) {
    .hero{
        background-position: center -12rem;
    }
}

.eslogan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*MAIN*/

/*NIVELES*/
/*-----------------------------------*/


.carousel{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 5rem;
    
}


.carousel--item{
    height: 40rem;
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    width: 28rem;
    border-radius: 20px;
    
}


.nivelesImg{
    width: 100%;
    height: 30rem;
    
}

.nivelesImg img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.nivelesDesc{
    padding-left: 1rem;
}

.nivelesDesc p{
    font-size: 13px;
    padding-bottom: 2rem;
    
}

.carousel--item:hover{
    transform: scale(1.1);
    transition: .5s;
}


